@font-face {
	font-family: 'DinPROlight';
	src: url('../font/DIN\ Pro\ 400.eot');
	src: local('☺'), url('../font/DIN\ Pro\ 400.woff') format('woff'), url('../font/DIN\ Pro\ 400.ttf') format('truetype'), url('../font/DIN\ Pro\ 400.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'DinPROregular';
	src: url('../font/DIN\ Pro\ 400.eot');
	src: local('☺'), url('../font/DIN\ Pro\ 400.woff') format('woff'), url('../font/DIN\ Pro\ 400.ttf') format('truetype'), url('../font/DIN\ Pro\ 400.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'DinPRObold';
	src: url('../font/DIN\ Pro\ Bold\ 700.eot');
	src: local('☺'), url('../font/DIN\ Pro\ Bold\ 700.woff') format('woff'), url('../font/DIN\ Pro\ Bold\ 700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'GilroyLight';
  src: url('../font/Gilroy-Light.eot');
	src: local('☺'), url('../font/Gilroy-Light.woff') format('woff'), url('../font/Gilroy-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('../font/Gilroy-Regular.eot');
	src: local('☺'), url('../font/Gilroy-Regular.woff') format('woff'), url('../font/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'GilroyBold';
  src: url('../font/Gilroy-Bold.eot');
	src: local('☺'), url('../font/Gilroy-Bold.woff') format('woff'), url('../font/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../font/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../font/Gilroy-ExtraBold.woff') format('woff'), url('../font/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}