@import './Обнуляющий\ CSS.css';
@import './fonts.scss';
//@import "./anim.css";
*, *::after, *::before{
  box-sizing: border-box;
}
html{
  //overflow-y: hidden;
}
body {
  overflow: hidden;
}
img {
  user-select: none;
  draggable: false;
}
.slider {
  width: 300vw;
  height: 100vh;
  position: relative;
  z-index: 600 !important;
  background: url('../images/fullBg.png?as=webp') no-repeat center center ;
  background-size: 300vw 100vh;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
  cursor: grabbing;
}

.slider-track {
  scroll-snap-type: y mandatory;
  display: flex;
}

.slide {
  //scroll-snap-align: start;
  //overflow: hidden;
  position: relative;
  min-width: calc(100vw);
  max-height: 100vh;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  padding: 0px 0 0px 0px ;
}
.slide-1 {
  margin-left: 3.81vw;
  position:relative;
  // .slide-1__content
  
  &__content {
    margin: 42vh 0px 0px 0px ;
    display: flex;
/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */
    img {
      pointer-events: none;
    }
  }

		// .slide-1__label

  &__label {

    position: relative;
    color: #171717;
			// .slide-1__label_small

			&_small {
              color: #242425;
              font-family: 'DinPROregular', Arial, sans-serif;
              font-size: 27px;
              margin: -15px 0px 20px 0px ;
              letter-spacing: 7px;
              display: inline-block;
			}

			// .slide-1__label_big

			&_big {
              font-family: 'GilroyLight', serif, sans-serif;
              letter-spacing: 5px;
              font-size: 5.93vw;
              line-height: 6.37vw;
              span {
                font-family:'GilroyExtraBold' ,sans-serif;
              }
			}
		}

		// .slide-1__button-go

  &__button-go {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #ff6a9f;
    height: 4.357vw;
    width: 15.795vw;
    border-radius: 2.178vw;
    position: absolute;
    bottom: 2vh;
    right:4vw;
      &::before {
        position: absolute;
        content:'';
        display: block;
        width: 3.43vw;
        height: 3.43vw;
        background-image: url("../images/1slide/roundShadow2.png?as=webp");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        top: 0.51vw;
        left: 0.817vw;
        object-fit: cover;
      }
      &::after {
        animation: arrowNext 1s ease-out infinite;
        position: absolute;
        z-index: 5;
        content: '';
        display: inline-block;
        width: 1.634vw;
        height: 1.089vw;
        background-image: url('../images/1slide/arrow-white.png?as=webp');
        background-size: 1.634vw 1.089vw;
        background-repeat: no-repeat;
        top: 1.688vw;
        left: 1.634vw;
      } 
      @keyframes arrowNext {
        from {
          transform: translateX(0px);
        }
        to {
          transform: translateX(5px);
        }
      }
      button {

        color: #171717;
        font-family: 'DinPROregular', Arial, serif;
        font-size: 1.579vw;
        padding-left: 2.72vw;
        height: 100%;
        width: 100%;
        background: none;
        transition: color  0.3s linear;
        &:hover {
          color: #fff;
        }
      }
    }
  	// .slide-1_big-sperm

    &_big-sperm {
      position:absolute;
      left:20.7vw;
    }

		// .slide-1__float-element

		&__float-element {
          .bgfloat1 {
            pointer-events: none;
            display: block;
            width: 62px;
            height: 59px;
            background: url('../images/1slide/Layer-5.png?as=webp') no-repeat center center;
            animation: float-img1 30s infinite;
          }
      @keyframes float-img1 {
        0% {
          transform:translate3d(0px, 0px, 0px) rotate(0deg);
        }
        25% {
          transform:translate3d(10.89vw, 11vh, 150px) rotate(90deg);
        }
        50%{
          transform:translate3d(0px, 22.05vh, 0px) rotate(180deg);
        }
        75% {
           transform:translate3d(-10.89vw, 11vh, 0px) rotate(90deg);
        }
        100% {
          transform:translate3d(0px, 0px, 0px) rotate(0deg);
        }


      }
      .float-img-2 {
        position: absolute;
        top: 245px;
        right: 225px;
        animation: float-img2 10s infinite linear;
      }
      @keyframes float-img2 {
        0%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
        25%   {transform: translateX(50px) translateY(-30px) rotate(10deg);}
        50%   {transform: translateX(100px) translateY(0px) rotate(10deg);}
        75%   {transform: translateX(50px) translateY(30px) rotate(10deg);}
        100%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
      }
      .float-img-3 {
        position: absolute;
        bottom: -33vh;
        right: 16.34vw;
        animation: float-img3 5s infinite linear;
      }
      @keyframes float-img3 {
        0%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
        25%   {transform: translateX(10px) translateY(-60px) rotate(10deg);}
        50%   {transform: translateX(15px) translateY(-80px) rotate(10deg);}
        75%   {transform: translateX(10px) translateY(-60px) rotate(10deg);}
        100%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
      }
      .float-img-4 {
        position: absolute;
        z-index: -1;
        bottom: 350px;
        left: 25px;
        animation: float-img4 10s infinite linear;
      }
      @keyframes float-img4 {
        0%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
        25%   {transform: translateX(25px) translateY(60px) rotate(10deg);}
        50%   {transform: translateX(50px) translateY(80px) rotate(10deg);}
        75%   {transform: translateX(25px) translateY(60px) rotate(10deg);}
        100%   {transform: translateX(0px) translateY(0px) rotate(10deg);}
      }
		}

}

.slide-2{
  position: relative;
   &_bg-image {
    pointer-events: none;
    top: 7vh;right: 0;
    transform: translate3d(650px, 250px, 0px);
    opacity: 0;
    position: absolute;
    width: 658px;
    height: 555px;
  }
  .slide-2_bg-image.active-2 {
      opacity: 1;
      transition: transform 2s, opacity 1s;
      transform: translate3d(0px, 0px, 0px);
   }
  
  
  &__content {
  }
    &__label {
      color:#242424;  
      line-height: 1.3;
      letter-spacing: 3.5px;
      font-size: 27px;
      font-family: 'DinPROregular' , Arial, sans-serif;
      margin: 135px 0px 0px 0px ;
      font-weight: 200;
    }
    &__block {
      position: relative;
      display: flex;
    }
    &__scroll-bar {
      position: absolute;
      top: 60px;
      left: -7%;
      width: 10.9vw;
      z-index: 10;
    }
    &_line {
      position: relative;
      margin-left: 6.318vw;
      width: 70px;
      &:before{
        content:'';
        display: block;
        height: 48vh;
        width: 4px;
        border-radius: 5px;
        background-color: #000;
        transform: translateX(25px);
        cursor: pointer;
      }
    }
    &_thumb {
      cursor: grabbing;
      position: absolute;
      top: 0;
      left: 16px;
      background: url('../images/2slide/btn.png?as=webp') no-repeat 0 0;
      width: 20px;
      height: 105px;
      z-index: 15;
    }
    &__text {
      //&::-webkit-scrollbar {
      //  width: 0;
      //}
      user-select: text;
      overflow-y: auto;
      position: relative;
      background: #fff;
      margin: 0px 0px 0px 48px ;
      height: 50vh;
      width: 42vw;
      border-radius: 60px;
      min-height: 100%;
      &:after {
        position: sticky;
        left: 0;
        bottom: 0;
        content:'';
        display: block;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg,rgba(252, 255, 244, 0.84) 58.75%,rgba(223, 229, 215, 0.84) 100%,rgba(223, 229, 215, 0.84) 100%,rgba(223, 229, 215, 0.84) 100%,rgba(223, 229, 215, 0.84) 100%,rgba(223, 229, 215, 0.84) 100%,rgba(223, 229, 215, 0.84) 100%);
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
      }

      p{
        word-spacing: 1px;
        line-height: 1.35;
        color: black;
        font-family:'DinPROregular', Arial, sans-serif;
        font-size: 22px;
        padding: 27px 32px 27px 32px ;
        span {
          color: #171717;
          font-size: 22px;
          font-family: 'DinPRObold' ,serif;
        }
        a {
          font-family:'DinPROregular', Arial, sans-serif;
          color:black;
          display: inline-block;
          padding: 20px 0px 20px 0px ;
        }
      }
      
    }
    
  }


// 3 slide //

.slide-3 {
  position: relative;
 
  // .slide-3__content
  &__content {
    padding: 23vh 0 0 34vw;
  }

}

.gohome {
  position: absolute;
  z-index: 500;
  top: 5%;
  left: 0px;
  cursor: pointer;
  img {
    transition:0.5s border-bottom ease-out 0s;
  }
  &:hover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    img{
      border-bottom: 2px #fc6da9 solid;
    }
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}


.logo-label {
  position: fixed;
  z-index: 30;
  left: 68px;
  bottom: 10vh;
}
.hideScroll {
  position: relative;
  margin-top: 45px;
  &:after{
    content: '';
    position: absolute;
    right:0;
    top: 0;
    display: block;
    width: 15px;
    height: 100%;
    background-color: #fff;
  }
}
.wrapPopup{

  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100vw;
  min-height: 100vh;
  background: rgba(74,98,120, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100vh);
  display: none;
  &.open{
    transition: transform .35s cubic-bezier(0, 0.48, 1, 2.78);
    transform: translateY(0vh);
  }
}
.slide-3__popup {
  position: relative;
  z-index: 5;
  &__popup-body {
    padding: 45px 30px 30px 180px ;
    //min-height: 575px;
    width: 780px;
    border-radius: 40px;
    background-color: #fff;
    button.close{
      float: right;
      margin: -42px -10px 0px 0px ;
      font-size: 76px;
      background: none;
      border:none;

    }
    .popup-body__text{}
    h3 {
      letter-spacing: 2px;
      color:#2e2e2e;
      font-size: 27px;
      font-family:'DinPROregular' ,serif;
    }
    .slide-3_label{
      margin: 15px 0px 0px -8px ;
    }

    .popup-body__inner-slider {
      position: relative;
      max-width:  511px;
      overflow:hidden;

      .inner-slider__content{
        transition:transform 0.3s ease-in-out;
        display: flex;
        flex-wrap: nowrap;
        .item-number{
          margin: 22px 0px 14px 0px ;
          font-size: 25px;
          color:#8cc9e8;
          font-family:'GilroyExtraBold' ,sans-serif;
        }
        .item_text{
          color:#2e2e2e;
          font-size: 25px;
          font-family: 'DinPROregular',sans-serif;

        }
        .item {
          min-width: 100%;
        }
      }


      .inner-slider__bottoms{
        margin-top: 20px;
        width: 90px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slider-dots{
          width: 12px;
          height: 12px;

          border-radius: 50%;
          border:1px solid black;
        }
        .slider-dots.active-dot{
          background-color: #fc6da9;
          border: none;
          transform: scale(1.01);
        }
        a {
          display: block;
          height: 20px;
          width: 20px;
          padding: 0px;
          color:black;

          svg {
            &:first-child{
              margin-right: 20px;
            }
            color:#5e5e5e;
            width: 20px;
            height: 20px;
          }

        }
      }
    }
  }
}
.conditionsDrug{
  width: 100vw;
  height: 100vh;
  margin-left: -3.81vw;
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
}
// .slide-3__floats-element
.slide-3__floats-element {
  position: absolute;
  top: -25vh;
  left: -115px;
  //position: relative;
}
// .slide-3_float-images-1
.slide-3_float-images-1 {
  position: absolute;
  z-index: 10;
  top: 14vh;
  left: -33px;
}
// .slide-3_float-images-2
.slide-3_float-images-2 {
  position: absolute;
  z-index: 5;
  top: 11vh;
  left: 132px;
  animation: slide-3_float-images-2 5s infinite;
}
@keyframes slide-3_float-images-2 {
  0%   {transform: translateX(0px) rotate(30deg);}
  50%   {transform: translateX(25px) translateY(17px) rotate(60deg);}
  100% {transform: translateX(0px) translateY(0px) rotate(30deg);}
}
// .slide-3_float-images-3
.slide-3_float-images-3 {
  position: absolute;
  z-index: 5;
  top: 23.373vh;
  left: -35px;
  animation: slide-3_float-images-3 9s infinite;
}
@keyframes slide-3_float-images-3 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(-10px) translateY(-10px) rotate(10deg);}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg);}
}
// .slide-3_float-images-4
.slide-3_float-images-4 {
  position: absolute;
  z-index: 5;
  top: 34.84vh;
  left: 76px;
  animation: slide-3_float-images-4 12s infinite;
}
@keyframes slide-3_float-images-4 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(25px) translateY(15px) rotate(10deg) scale(1.2);}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg) scale(1);}
}
// .slide-3_float-images-5
.slide-3_float-images-5 {
  position: absolute;
  z-index: 5;
  top: 65.5vh;
  left: 133px;
  animation:slide-3_float-images-5 6s infinite ;
}
@keyframes slide-3_float-images-5 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(10px) translateY(-35px) rotate(10deg) ;}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg);}
}

// .slide-3_float-images-6
.slide-3_float-images-6 {
  position: absolute;
  z-index: 10;
  top: 17.2vh;
  left: 72px;
  animation:slide-3_float-images-6 8s infinite ;
}
@keyframes slide-3_float-images-6 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(-55px) translateY(45px) rotate(10deg) ;}
  100% {transform: translateX(10px) translateY(-20px) rotate(10deg);}
}
// .slide-3_float-images-7
.slide-3_float-images-7 {
  position: absolute;
  z-index: 10;
  top: 50.05vh;
  left: -107px;
  animation:slide-3_float-images-7 5s infinite ;

}
@keyframes slide-3_float-images-7 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(0px) translateY(45px) rotate(10deg) ;}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg);}
}
// .slide-3_float-images-8
.slide-3_float-images-8 {
  position: absolute;
  z-index: 10;
  top: 61.2vh;
  left: -85px;
  animation:slide-3_float-images-8 20s infinite ;

}
@keyframes slide-3_float-images-8 {
  0%   {transform: translateX(0px) rotate(10deg);}
  25%   {transform: translateX(100px) translateY(-50px) rotate(10deg) ;}
  50%   {transform: translateX(120px) translateY(-15px) rotate(10deg) ;}
  75%   {transform: translateX(100px) translateY(50px) rotate(10deg) ;}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg);}
}
// .slide-3_float-images-9
.slide-3_float-images-9{
  position: absolute;
  z-index: 10;
  left: 65px;
  top: 75.63vh;
  animation:slide-3_float-images-9 7s infinite ;

}
@keyframes slide-3_float-images-9 {
  0%   {transform: translateX(0px) rotate(10deg);}
  50%   {transform: translateX(-10px) translateY(-45px)  rotate(10deg) ;}
  100% {transform: translateX(0px) translateY(0px) rotate(10deg);}
}
// .slide-3__basic-block
.slide-3__basic-block {
  position: relative;

}
// .slide-3__title
.slide-3__title {
  text-align: center;
}
// .slide-3_label
.slide-3_label { font-family:'GilroyRegular'  , sans-serif;
  font-size: 5.174vw;
  color: #242424;
  letter-spacing: 13px;
  span {
    font-family: 'GilroyExtraBold' ,sans-serif;
  }
}

// .slide-3_small
.slide-3_small {
  font-family: 'DinPROregular', Arial, sans-serif;
  font-size: 27px;
  color:#282929;
  margin: 0px 0px 20px 0px ;
}

// .slade-3__cards
.slade-3__cards {
  line-height: 1.2;
  color:#2e2e2e;
  font-family:'DinPROlight' ,Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300 !important;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 77px 0px 0px 0px ;

}
.slade-3_card1 {
  width: 400px;
  //height: 267px;
  padding: 10px 50px 10px 55px ;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 10px 10px 45px 11px rgba(157, 185, 198, .39);
  img {
    margin: -40px 0px 0px 50px ;
  }

  .card1-text {
    padding: 10px 0px 10px 54px ;
  }
}
.slade-3_card2 {
  margin: 0px 0px 0px 41px ;
  width: 267px;
  height: 150px;
  padding: 10px 40px 10px 40px ;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 10px 10px 45px 21px rgba(157, 185, 198, .39);
  img {
    margin: -40px 0px 0px 0px ;
  }

  .card1-text {
    padding: 10px 0px 10px 54px ;
  }
}
.slade-3_button{
  padding-left: 50px;
  font-family: "DinPROregular", Arial, serif;
  font-size: 29px;
  position: relative;
  margin:20px 0px 0 40px;
  background-color: #ff6a9f;
  height: 80px;
  width: 264px;
  border-radius: 40px;
  transition:color 0.5s;

  &:hover{
    color:white;
  }
  &::before {
    position: absolute;
    content:url('../images/1slide/roundShadow2.png?as=webp');
    top: 13%;
    left: 5%;
  }
  &::after {
    color:#fff;
    position: absolute;
    z-index: 5;
    content: '';
    top: 39%;
    left: 14%;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../images/3slide/plus.svg");
    background-repeat: no-repeat;
    background-position:center;
    animation: rotatePlus infinite 1s ease-in-out 1s;

  }
  @keyframes rotatePlus {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
  // .slade-3_button
  button {
    color: #171717;
    font-family: 'DinPROregular', Arial, serif;
    font-size: 29px;
    margin: 21px 0px 2px 90px ;
    background: none;
  }
}
.cardWithBtn{

}